div .container {
  text-align: center;
}
header {
  background-color: #05203C;
  min-height: 10vh;
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  font-size: 1.2em; 
  padding: 10px 20px; 
  background-color: #05203C; 
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px; 

}

button:hover {
  background-color: #007bff; 
}

#calendar{
  text-align: center;

}